body {
    background-color: antiquewhite;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .search-box {
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: "Square Peg", cursive;
  }
  
  .col_elem {
    margin-top: 100px;
    display: inline;
    margin-left: 100px;
  }
  
  .info {
    margin-top: 30px;
    display: flex;
    width: 50%;
  }
  .main-weather-info {
    flex: 1;
    font-family: "Square Peg", cursive;
    margin-top: 25px;
    margin-left: 100px;
  }
  
  .addit_info {
    font-family: "Caveat", cursive;
    margin-right: 5px;
  }
  
  .weekend_weather {
    margin-top: 25px;
  }

  li {
    list-style: none;
  }
  
  .mari {
    font-size: 12px;
    text-align: center;
    color: rgb(106, 69, 69);
    padding-top: 20px;
  }

  .contact-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
}
.btn-primary {
    color: rgb(63, 59, 59);
    background-color: #979b9f;
    border-color: #3f4041;
}